<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>VivaLa - Talent Devlopment</title>

	<!-- Bootstrap Core CSS -->
	<link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Theme CSS -->
	<link href="../css/freelancer.min.css" rel="stylesheet">

	<!-- Custom Fonts -->
	<link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link href="../css/jquery-pie-loader.css" rel="stylesheet" type="text/css">

	<!--	<link href="../css/user_courses.css" rel="stylesheet">-->
	<link href="../css/courses.css" rel="stylesheet">

</head>

<body id="page-top" class="index">

	<!-- Navigation -->
	<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand" href="#page-top">Personalized Talent Dev</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li class="hidden">
						<a href="#page-top"></a>
					</li>
					<li class="page-scroll">
						<a href="#contact">TASKS</a>
					</li>
					<li class="page-scroll">
						<a href="#portfolio">Edit Profile</a>
					</li>


				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<!-- Header -->
	<header>
		<div class="container" style="overflow:hidden">
			<div class="row" style="">
				<div class="col-sm-5">
					<img src="../img/user.png" alt="">
					<div class="intro-text">
						<span class="name">John Snow</span>
						<br>
						<button id="dsBtn" type="button" class="btn btn-primary" >Data Scientist</button>
						<button id="uxBtn" type="button" class="btn btn-success">User Experience Designer</button>
						<button id="uiBtn" type="button" class="btn btn-success">UI Consultant</button>
						<br>
						<!--<span class="skills">Data Scientist - User Experience Designer - UI Consultant</span><br>  -->
						<span class="skills">Exp 4 Years+</span>
						<br/><a href="user_map.html" style="color:white;font-size:large;font-style:italic;"> User Map </a>
						<br/><a href="manager_view.html" style="color:white;font-size:large;font-style:italic;"> Manager Mode </a>
					</div>
                </div>
                
			
                <div style=" " class="col-sm-offset-1 col-sm-5">
                    <img id="creditScore" src="../img/cScore.png" alt="">
                </div>
            </div>


		</div>
	</header>
    
    <script src="../vendor/jquery/jquery.min.js"></script>


	<!-- Contact Section -->
	<section id="contact" style="background='lightgray'">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2>TRAININGS</h2>
					<!--<p style="color:black;font-size:large;font-style:italic;"> Complete these suggested trainings to improve your skills</p>-->
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 course-item completed">
					Intro to Software Development on HANA
				</div>
				<div class="col-sm-4 course-item notcompleted">
					Extending SAP S/4HANA with SAP HCP
				</div>
				<div class="col-sm-3 course-item notcompleted">
					SAP BW/4HANA in a Nutshell
				</div>
				<div class="col-sm-4 course-item completed">
					Introduction to SAP HANA Cloud Platform
				</div>
				<div class="col-sm-3 course-item completed">
					SAP Fiori for iOS
				</div>
				<div class="col-sm-4 course-item notcompleted">

					Machine Learning for Enterprise
				</div>
				<div class="col-sm-5 course-item notcompleted">
					Data Science and Analytics for Dummies
				</div>
				<div class="col-sm-3 course-item notcompleted">
					Design for non Designers
				</div>

				<div class="col-sm-3 course-item notcompleted">
					CloudFoundry Basics
				</div>

				<div class="col-sm-11 col-offset-sm-1 course-item map text-center" id="map">
					Show Personalized Career map
				</div>

			</div>
		</div>
	</section>



	<!-- Portfolio Grid Section -->
	<section id="portfolio" style="background-color:#ececec">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center sectionHeader">
					<h2>CONNECTED ACCOUNTS</h2>
					<!--<p style="color:black;font-size:large;font-style:italic;"> Showcase your skills across various platforms </p>-->
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 portfolio-item">
					<div>
						<div class="caption">
							<div class="caption-content">
								<!--<i class="fa fa-search-plus fa-3x"></i> -->
							</div>
						</div>
						<img src="../img/portfolio/GitHub.jpg" class="img-responsive" alt="">
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon3">GitHub</span>
							<input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" value="johnsnowGOT@github.com">
							<span class="input-group-btn">
							<button class="btn btn-default" type="button">Go</button>
						  </span>
						</div>
					</div>
				</div>
				<div class="col-sm-4 portfolio-item">
					<div class="caption">
						<img src="../img/portfolio/StkOvrflow.png" class="img-responsive" alt="">
						<div class="input-group" style="">
							<span class="input-group-addon" id="basic-addon3">Stack Overflow</span>
							<input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
							<span class="input-group-btn">
							<button class="btn btn-default" type="button">Go</button>
						  </span>
						</div>
					</div>

				</div>
				<div class="col-sm-4 portfolio-item">
					<div class="caption">
						<img src="../img/portfolio/helogo.jpg" class="img-responsive" alt="">
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon3">HackerEarth</span>
							<input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
							<span class="input-group-btn">
							<button class="btn btn-default" type="button">Go</button>
						  </span>
						</div>
					</div>

				</div>
			</div>

		</div>
	</section>





	<!-- Footer -->
	<footer class="text-center">
		<div class="footer-above">
			<div class="container">
				<div class="row">
					<div class="footer-col col-md-4">
						<h3>Location</h3>
						<p>SAP Labs India Pvt Ltd
							<br>Whitefield, BLR 56066</p>
					</div>
					<div class="footer-col col-md-4">
						<h3>Around the Web</h3>
						<ul class="list-inline">
							<li>
								<a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
							</li>
							<li>
								<a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
							</li>
							<li>
								<a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
							</li>
							<li>
								<a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
							</li>
						</ul>
					</div>
					<div class="footer-col col-md-4">
						<h3>About</h3>
						<p>For more information on the application, please contact team VivaLa.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-below">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						Copyright &copy; Your Website 2016
					</div>
				</div>
			</div>
		</div>
	</footer>

	<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
	<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
		<a class="btn btn-primary" href="#page-top">
			<i class="fa fa-chevron-up"></i>
		</a>
	</div>


	<!-- jQuery -->

	<!-- Bootstrap Core JavaScript -->
	<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

	<!-- Plugin JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

	<!-- Contact Form JavaScript -->
	<script src="../js/jqBootstrapValidation.js"></script>
	<script src="../js/contact_me.js"></script>

	<!-- Theme JavaScript -->
	<script src="../js/freelancer.min.js"></script>

</body>

</html>